/*------------------------------------*\
    $Colors
\*------------------------------------*/

// Descriptive

$white: 					#ffffff;
$black: 					#000000;
$brown: 					#1b0c0b;
$lightgreen: 				#1b756a;
$darkgreen: 				#0d423b;

// Functional

$bodycolor: 				$white;
$startbg: 					$brown;
$biobg: 					$black;