/*------------------------------------*\
    $Colors
\*------------------------------------*/

// Descriptive

$white: 					#ffffff;
$black: 					#000000;
$brown: 					#1b0c0b;
$lightgreen: 				#5ab8b8;
$darkgreen: 				#1b3737;

// Functional

$bodycolor: 				$white;

$headerbg: 					$brown;