// Base Layout

/** Colors
--------------------------------------------*/

// Black and White

$white: 					#ffffff;
$black: 					#000000;

// Basic

$bodycolor: 				#f3ece1;
$textcolor: 				#2a2a2a;
$linkcolor: 				#2a2a2a;
$linkcolor-hover: 			#cc624c;
$linkcolor-dark-hover:		darken($linkcolor-hover, 9%);
$selectioncolor: 			#725b4c;

// Title

$titlecolor: 				$black;
$titleelementcolor: 		#49c9f5;

// Font

$serif:             "Radley", Georgia, Times New Roman, Times, serif;

// Selection

::-moz-selection {
background-color : $linkcolor-hover;
color : $white;
text-shadow : none; }

::selection {
background-color : $linkcolor-hover;
color : $white;
text-shadow : none; }


/** Clearfix
--------------------------------------------*/


.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}


/** Mixins
--------------------------------------------*/

// USAGE: @include box-sizing(border-box);
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}

// USAGE: @include transition(all 0.2s ease-in-out);
@mixin transition($transition...) {
	$prefixes:      ("-webkit", "-ms", "-o",  "", "-moz");
  @each $prefix in $prefixes {
    #{$prefix}-transition: $transition;
  }

  transition: $transition;
}

// USAGE: @include droid-font(400);
@mixin droid-font($weight) {
	font-family: $serif;
	font-weight: $weight;
}

/** Layout
--------------------------------------------*/

*{
	@include box-sizing(border-box);
}


body{
	font-size: 16px;
	background: $bodycolor;
	color: $textcolor;
}





